.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

.profile__image:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.profile__image:hover + .profile__avatar-button {
  display: block;
}

.profile__avatar-button {
  display: none;
  position: absolute;
  border: none;
  cursor: pointer;
  width: 26px;
  height: 26px;
  background: transparent url('../../../images/change_avatar.svg') center no-repeat;
  left: 47px;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}


